.sticky_footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #333; /* Cambia el color de la letra */
  letter-spacing: 1px; /* Ajusta el espaciado entre letras */
  font-weight: bold; /* Cambia el estilo de la fuente a negrita */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
}
